<!DOCTYPE html>
<html>
  <head>
    <title>IOU - i owe you</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'iou' %>
    <%= javascript_pack_tag 'iou', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-orange.min.css" />     
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body style="background-color: red;">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
                mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <div class="mdl-layout-spacer"></div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                      mdl-textfield--floating-label mdl-textfield--align-right">
            <label class="mdl-button mdl-js-button mdl-button--icon"
                  for="fixed-header-drawer-exp">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" name="sample"
                    id="fixed-header-drawer-exp">
            </div>
          </div>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">IOU - i owe you</span>
        <nav class="mdl-navigation">
            <%= link_to "Home", root_path, class: 'mdl-navigation__link' %>
            <%= link_to "Users", users_path, class: 'mdl-navigation__link' %>
            <%= link_to "Transactions", money_transactions_path, class: 'mdl-navigation__link' %>
            <%= link_to "API Doc", rswag_ui_path, class: 'mdl-navigation__link' %>
        </nav>
      </div>
      <main class="mdl-layout__content constrain">
      <p id="notice"><%= notice %></p>  
      <%= yield %>
      </main>
      <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
          <div class="mdl-logo">IOU - i owe you</div>
          <ul class="mdl-mini-footer__link-list">
            <li><%= link_to "Help", static_help_path %></li>
            <li><%= link_to "Privacy & Terms", static_privacy_path %></li>
          </ul>
        </div>
      </footer>      
    </div>
  </body>
</html>



        
